<h1 class="text-center text-secondary">Telugu Top Hits</h1>


<!-- <div class="card g-4 " style="width: 18rem; margin-left: 20px;">
    <div class="card-body">
    <img src="https://static.toiimg.com/photo/81361653.jpeg" alt="..." width="100%" >
    
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div> -->

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 mt-5 mb-5" >
  <div class="col" *ngFor="let obj of users">
  <div id="card1" class="card h-100 shadow">
    <img src="{{obj.imageurl}}" class="card-img-top h-100" alt="...">
    <div class="card-body text-center">
      <h5 class="card-title">{{obj.songname}}</h5>
      <p class="card-text">{{obj.moviename}}</p>
      <button href="#" class="btn btn-dark" ><i class="fas fa-heart text-danger"></i> Add To Favourites</button>
    </div>
  </div>
</div>
</div>