<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="3000">
        <img src="https://img.wynk.in/unsafe/720x251/filters:no_upscale():format(webp)/https://s3.ap-south-1.amazonaws.com/discovery-prod-arsenal/arsenal/artworks/60ab4ed21cab1846c87182a3/BANNER_437820885351830.png" class="d-block w-100 img1" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2500">
        <img src="https://img.wynk.in/unsafe/720x251/filters:no_upscale():format(webp)/https://s3.ap-south-1.amazonaws.com/discovery-prod-arsenal/arsenal/artworks/60b0b0cd15371c44f6092a22/BANNER_183931764534342.png" class="d-block w-100 img1" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2500">
        <img src="https://img.wynk.in/unsafe/720x251/filters:no_upscale():format(webp)/https://s3.ap-south-1.amazonaws.com/discovery-prod-arsenal/arsenal/artworks/60b0d99858517a2386d30d5b/BANNER_35919463665005.jpg" class="d-block w-100 img1" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2500">
        <img src="https://img.wynk.in/unsafe/720x251/filters:no_upscale():format(webp)/https://s3.ap-south-1.amazonaws.com/discovery-prod-arsenal/arsenal/artworks/60b09a811e74074f65013aff/BANNER_18231235371936.png" alt="" class="d-block w-100 img1">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  

  <!-- <h1 class="mt-5 bg-warning" style="margin-right: 20px; margin-left: 20px;">
    <a class=" text-dark"routerLink='telugu' (click)='onClick()' style="text-decoration:none;">Telugu Top Hits
      <span><i class="fas fa-arrow-right float-end"></i></span></a></h1> -->

      <div class="row row-cols-1 row-cols-md-3 g-4 m-3">
        <div class="col-4 m1">
          <div class="card h-100 w-50 text-center" style="margin-left: 90px; border-radius: 10px;">
            <a (click)='onClickTelugu()'><img src="https://c.saavncdn.com/editorial/charts_TeluguChartbusters_164936_20200911191039.jpg?bch=1435050055" class="card-img-top h-100" alt="..."></a>
            <div class="card-body">
              <h5 class="card-title">Telugu</h5>
              
              
            </div>
          </div>
        </div>
        <div class="col-4 m1">
          <div class="card h-100 w-50 text-center" style="margin-left: 90px; border-radius: 10px;">
            <a (click)='onClickHindi()'><img src="http://c.saavncdn.com/editorial/charts_HindiChartbusters_101999_20200903065852.jpg?bch=1420571555" class="card-img-top h-100" alt="..."></a>
            <div class="card-body">
              <h5 class="card-title">Hindi</h5>
              
            </div>
          </div>
        </div>
        <div class="col-4 m1">
          <div class="card h-100 w-50 text-center" style="margin-left: 90px; border-radius: 10px;">
            <a (click)='onClickEnglish()'><img src="http://c.saavncdn.com/editorial/charts_EnglishChartbusters_136524_20201015085711.jpg?bch=1604365352" class="card-img-top h-100" alt="..."></a>
            <div class="card-body">
              <h5 class="card-title">English</h5>

            </div>
          </div>
        </div>
        
      </div>

      
      


  <router-outlet></router-outlet>
